soapDemo/src/main/resources/wsdl/employees.wsdl

<wsdl:definitions
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:sch="http://www.soapwebservices.com/springsoap/gen"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://www.soapwebservices.com/springsoap/gen"
	targetNamespace="http://www.soapwebservices.com/springsoap/gen">
	<wsdl:types>
		<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
			elementFormDefault="qualified"
			targetNamespace="http://www.soapwebservices.com/springsoap/gen">
			<xs:element name="GetEmployeeSalaryRequest">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="employee" type="tns:EmployeeDetails" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="GetEmployeeSalaryResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="salary" type="tns:SalaryDetails" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:complexType name="EmployeeDetails">
				<xs:sequence>
					<xs:element name="id" type="xs:int" />
					<xs:element name="name" type="xs:string" />
					<xs:element name="months" type="xs:int" />
					<xs:element name="salary" type="xs:double" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="SalaryDetails">
				<xs:sequence>
					<xs:element name="name" type="xs:string" />
					<xs:element name="salary" type="xs:double" />
				</xs:sequence>
			</xs:complexType>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="GetEmployeeSalaryRequest">
		<wsdl:part element="tns:GetEmployeeSalaryRequest"
			name="GetEmployeeSalaryRequest">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="GetEmployeeSalaryResponse">
		<wsdl:part element="tns:GetEmployeeSalaryResponse"
			name="GetEmployeeSalaryResponse">
		</wsdl:part>
	</wsdl:message>
	<wsdl:portType name="EmployeePort">
		<wsdl:operation name="GetEmployeeSalary">
			<wsdl:input message="tns:GetEmployeeSalaryRequest"
				name="GetEmployeeSalaryRequest">
			</wsdl:input>
			<wsdl:output message="tns:GetEmployeeSalaryResponse"
				name="GetEmployeeSalaryResponse">
			</wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="EmployeePortSoap11"
		type="tns:EmployeePort">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="GetEmployeeSalary">
			<soap:operation soapAction="" />
			<wsdl:input name="GetEmployeeSalaryRequest">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="GetEmployeeSalaryResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="EmployeePortService">
		<wsdl:port binding="tns:EmployeePortSoap11"
			name="EmployeePortSoap11">
			<soap:address location="http://localhost:8090/ws" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>